// Cards in a CSS Grid e.g. on /apidoc page. Parent wrapper is .grid-display.
// -----------------------------------------------------------------------------
.card-grid {
  border: 1px solid $gray-300;
  margin-bottom: 1rem;
  background: #fafafa;

  img {
    width: 100%;
  }

  .card-grid--body {
    padding: 0 1rem;
  }

  .card-grid--title {
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
}