// Helper classes
// -----------------------------------------------------------------------------

// Grids
@include media-breakpoint-up(md) {
  .display-grid {
    display: grid;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}