{#
/**
 * @file
 * Template for a Card Paragraph.
 */
#}
{% extends 'paragraph.html.twig' %}
{% block paragraph %}

  {% include '@devportal/card/card.twig' with {
    print_attributes: true,
    classes: classes,
    image: content.field_image,
    title: content.field_title,
    body: content|without('field_image', 'field_link', 'field_title'),
    footer: content.field_link.0['#title'],
    url: content.field_link.0['#url'],
    hover_shadow: true
  } %}

{% endblock %}
