{#
/**
 * @file
 * Template for a Hero Paragraph.
 */
#}
{% extends 'paragraph.html.twig' %}
{% block content %}
  <div class="container-fluid px-0">
    <div class="hero__wrapper" style="background-image: url({{ content.field_media|render|striptags|trim }});">
      <div class="hero__overlay">
        <div class="hero__content container py-9 py-md-0">
          {{ content.field_title }}
          {{ content.field_text }}
          {{ content.field_buttons }}
          {{ content|without('field_buttons', 'field_media', 'field_text', 'field_title') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
