// Collapsible card
// -----------------------------------------------------------------------------
.apigee-entity--app--view-mode-collapsible-card {
  .nav-tabs--secondary {
    overflow: auto;
  }
}
