{#
/**
 * @file
 * Template for a Breadcrumb component.
 */
#}
{% if breadcrumb %}
  <ol class="breadcrumb">
  {% for item in breadcrumb %}
    <li class="breadcrumb-item {{ not item.url ? 'active' }}">
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
  </ol>
{% endif %}
