:root {
  --blue: #2196f3;
  --blue-dark: #0c83e2;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #53BE6D;
  --teal: #20c997;
  --cyan: #17a2b8;
  --cn-primary: #ed1c24;
  --cn-primary-dark: #bf282e;
  --cn-primary-darker: #6e0004;
  --cn-secondary: #2b415c;
  --cn-secondary-dark: #18364b;
  --white: #fff;
  --gray: #787878;
  --gray-dark: #505050;
  --primary: #ed1c24;
  --secondary: #787878;
  --success: #53BE6D;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f2f2f2;
  --dark: #303030;
  --lighter: #f9f9f9;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --ak-header-color-bg: var(--white);
  --ak-header-color: var(--dark);
  --ak-footer-color-bg: var(--dark);
  --ak-footer-color: var(--white);
  --ak-accent-color: var(--cn-primary);
  --ak-accent-color-light: var(--white);
  --ak-accent-color-dark: var(--cn-primary-dark);
  --ak-accent-color-darker: var(--cn-primary-darker);
}

@media (min-width: 768px) {
  .display-grid {
    display: grid;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
@media (min-width: 992px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.page__breadcrumbs {
  background-color: var(--light);
  font-size: 0.875rem;
  border-bottom: 1px solid #ddd;
}
.page__breadcrumbs a {
  color: var(--gray);
}

.breadcrumb {
  background-color: var(--light);
}

.card-grid {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  background: #fafafa;
}
.card-grid img {
  width: 100%;
}
.card-grid .card-grid--body {
  padding: 0 1rem;
}
.card-grid .card-grid--title {
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.hero__wrapper {
  background-size: cover;
  background-repeat: none;
  background-position-y: center;
  height: 400px;
}

.hero__overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
}

.hero__content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.5rem;
}
@media (min-width: 576px) {
  .hero__content {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .hero__content {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.hero__content h1 {
  font-weight: 700;
  color: #fff;
}

.navbar {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  padding: 0 1.5rem;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0.75rem 1.5rem;
  }
}
.navbar a:hover, .navbar .nav-link:hover {
  color: var(--ak-accent-color);
}
.navbar .search-block-form {
  padding-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .navbar .search-block-form {
    margin-right: 0.495rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .navbar .search-block-form {
    margin-right: 1.5rem;
  }
}
.navbar .form-search {
  border: 1px solid #ddd;
  border-radius: 0;
  height: 30px;
}

.navbar-toggler {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.navbar-nav .nav-item.active .nav-link:hover {
  color: var(--ak-accent-color);
}

.navbar-brand img {
  width: 79px !important;
  height: 30px;
}

html[lang=en] .language-switcher-language-url .en.nav-item {
  display: none;
}

html[lang=fr] .language-switcher-language-url .fr.nav-item {
  display: none;
}

.apigee-entity--app--view-mode-collapsible-card .nav-tabs--secondary {
  overflow: auto;
}