// Page: Navbar
// -----------------------------------------------------------------------------

.navbar {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  padding: 0 1.5rem;

  @include media-breakpoint-up(lg) {
    padding: 0.75rem 1.5rem;
  }

  a, .nav-link {
    &:hover {
      color: var(--ak-accent-color);
    }
  }

  .search-block-form {
    padding-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      margin-right: map-get($spacers, 1);
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-right: $spacer;
    }
  }

  .form-search {
    border: 1px solid $gray-300;
    border-radius: 0;
    height: 30px;
  }
}

.navbar-toggler {
  // Overrides 0.25rem, which makes the line shift up when mobile menu opens.
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.navbar-nav .nav-item {
  &.active {

    .nav-link {
      &:hover {
        color: var(--ak-accent-color);
      }
    }
  }
}
