{#
/**
 * @file
 * Template for Navbar brand component.
 *
 * Available config:
 * - text: the text to use for the brand.
 * - path: the path for the link. Leave blank for no link.
 * - image:
 *   - src: The source of the image
 *   - width: The width of the image
 *   - height: The height of the image
 * - utility_classes: An array of utility classes.
 */
#}
{% import _self as navbar_brand %}
{% set utility_classes = utility_classes|join(' ') %}

{% if path %}
  <a href="{{ path }}" class="navbar-brand d-flex align-items-center {{ utility_classes }}" aria-label="{{ text }}">
    {% if image %}
      {{ navbar_brand.image(image, width, height, alt) }}
    {% endif %}
    {{ text }}
  </a>
{% else %}
  <span class="navbar-brand h1 mb-0 {{ utility_classes }}" aria-label="{{ text }}">
    {% if image %}
      {{ navbar_brand.image(image) }}
    {% endif %}
    {{ text }}
  </span>
{% endif %}

{% macro image(src, width, height, alt) %}
  <img src="{{ src }}" width="{{ width|default(30) }}" height="{{ height|default('auto') }}" class="mr-2" alt="{{ alt|default('Company logo') }}" />
{% endmacro %}
