{#
/**
 * @file
 * Template for the branding block.
 */
#}
{% embed '@radix/block/block.twig' with {
  html_tag: 'div',
} %}

{% block content %}
  {% include '@devportal/navbar/navbar-brand.twig' with {
    text: site_name,
    image: site_logo,
    width: 30,
    height: 'auto',
    path: path('<front>'),
  } %}
{% endblock %}

{% endembed %}
