
.breadcrumb-item {
  a {
    font-size: 0.875rem;
    letter-spacing: 1px;
  }

  + .breadcrumb-item::before {
    padding-left: 0.375rem;
  }
}

// Color customization overrides
// -----------------------------------------------------------------------------

.breadcrumb {
  background-color: var(--light);
}

.breadcrumb-item {
  + .breadcrumb-item {
    &::before {
      color: var(--light);
    }
  }

  &.active {
    color: var(--light);
  }
}
