// Page: Breadcrumbs
// -----------------------------------------------------------------------------

.page__breadcrumbs {
  background-color: var(--light);
  font-size: 0.875rem;
  border-bottom: 1px solid $gray-300;

  a {
    color: var(--gray);
  }
}
