// Block-specific styles.
// -----------------------------------------------------------------------------

// Language switcher (core)
// ------------------------
// Hide current language link.
html[lang=en] .language-switcher-language-url .en.nav-item {
  display: none;
}
html[lang=fr] .language-switcher-language-url .fr.nav-item {
  display: none;
}