// Page: Navbar
// -----------------------------------------------------------------------------

.navbar {
  background: var(--ak-header-color-bg);
  color: var(--ak-header-color);
  font-size: 0.875rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  height: 55px;

  a, .nav-link {
    color: var(--ak-header-color);

    &:hover {
      color: var(--ak-accent-color);
    }
  }

  .search-block-form {
    @include media-breakpoint-down(md) {
      padding-top: $spacer;
    }

    @include media-breakpoint-up(lg) {
      margin-left: map-get($spacers, 1);
      margin-right: map-get($spacers, 1);
    }

    @include media-breakpoint-up(xl) {
      margin-left: $spacer;
      margin-right: $spacer;
    }
  }

  .form-search {
    border: 1px solid $gray-300;
    border-radius: 0;
    font-size: 0.875rem;
    padding: 0.175rem 0.375rem;
    height: 30px;
  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    padding-bottom: $spacer;
    padding-top: $spacer;
  }
}

.navbar-toggler {
  background: var(--ak-accent-color-light);
  color: var(--ak-accent-color);
}

.navbar-nav .nav-item {
  position: relative;

  &.active {

    &:after {
      content: '';
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 2px;
      height: 2px;
      background-color: var(--ak-accent-color);
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .nav-link {
      color: var(--ak-header-color); // $white

      &:hover {
        color: var(--ak-accent-color);
      }
    }
  }
}
