// Turns hero paragraph into a full width hero.
.hero__wrapper {
  background-size: cover;
  background-repeat: none;
  background-position-y: center;
  height: 400px;
}

.hero__overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
}

.hero__content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.5rem;

  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 15px;
    padding-left: 15px;
  }

  h1 {
    font-weight: 700;
    color: $white;
  }
}
