/**
 * @file
 * Custom variables for CN Dev portal.
 *
 * This file is structured as follows:
 *  - General use variables
 *  - New color maps
 *  - Main color variable overrides
 */

// ---------------------------------------------------------------------
// General use variables
// ---------------------------------------------------------------------

$default-vertical-space: 50px;

// Padding values for page elements e.g. header menu.
$page-padding-sm: 5%;
$page-padding-md: 10%;
$page-padding-lg: 20%;

$navbar-height: 55px;

// ---------------------------------------------------------------------
// New color maps
// ---------------------------------------------------------------------

// Primary colors are for buttons and links. 300 is main primary.
// Note: all maps require the contrast mapping as well.
$cn-primary: (
  100: #f9e2e3,
  200: #efbec0,
  300: #ed1c24,
  400: #c61017,
  600: #bf282e,
  900: #6e0004,
  contrast: (
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    600 : #000000,
    900 : #ffffff,
  )
);

// Secondary colors are for backgrounds and headings.
$cn-secondary: (
  100: #303030,
  300: #2b415c,
  600: #18364b,
  contrast: (
    100 : #000000,
    300 : #000000,
    600 : #ffffff,
  )
);

$cn-grey: (
  100: #ffffff,
  300: #f2f2f2,
  350: #ebebeb,
  400: #d9d9d9,
  500: #b8b8b8,
  600: #424242,
  700: #303030,
  800: #5b5b5b,
  contrast: (
    100 : #000000,
    300 : #000000,
    350 : #000000,
    400: #000000,
    500: #000000,
    600 : #ffffff,
    700: #ffffff,
    800: #ffffff,
  )
);

// ---------------------------------------------------------------------
// Main color variable overrides
// ---------------------------------------------------------------------

// mat-palette($color-map, default-color-id, lighter-color-id, darker-color-id);
$primary: mat-palette($cn-grey, 100, 300, 600);
$secondary: mat-palette($cn-secondary, 300, 100, 600);
$accent: mat-palette($cn-primary, 300, 600, 900);
